header{
    background-color: gray;
}
.container{
    width:80%;
    margin:auto;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: red;
}
a{
    margin-left: 30px;
    text-decoration: none;
}
a:hover{
color:white;
}



