form{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    color: red;
}
input{
    border-radius: 5px;
    
}
input:focus{
    background-color: rgba(129, 129, 129, 0.39);
    color: blue;
}
form div{
    width:25%;
}
.button{
    margin-top: 30px;
    background-color: green;
    color: red;
} 